<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanks For Creating An Account</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
      "
    >
      <div style="padding: 2rem; background-color: #fbfbfb">
        <h2 style="text-align: center">Thanks For Creating An Account</h2>
        <p style="text-align: center">
          Welcome Gurpal Singh(@phantomknight287).Thanks For Creating An Account
          on Our Platform. You're requested to provide us with a clear and
          latest image of your face along with your kyc documents to proceed
          further in kyc process.
        </p>
        <p style="text-align: center">
          This mail is automated. Please send all the documents on
          <a href="mailto:kyc@lendmyskill.com"> kyc@lendmyskill.com. </a>
        </p>
      </div>
    </div>
  </body>
</html>
