.section {
  @apply flex flex-col items-center justify-center text-center;
}

.heading {
  font-family: Whyte;
  @apply text-3xl font-bold;
  .span {
    display: block;
    margin-top: 0;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #3b82f6, #2dd4bf);
    -webkit-background-clip: text;
    text-align: center;
  }
}
